
# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
target/

